<html>

<head>
    <script src="vendor/vue.min.js"></script>
    <style>
        body {
            width: 30%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>Url:</div>
        <input type="input_url" v-model="url">
        <div>FileName:</div>
        <input type="input_filename" v-model="fileName">
        <div>{{msg}}</div>
        <br>
        <button id="send" @click="send">Send</button>
    </div>

    <script src="popup.js"></script>
</body>

</html>